.Hagiasophiaint1{
    width: 30%;
    border-radius: 2em;
    margin-left: 2%;
    height: 18em;
    
}

.Hagiasophiaint2{
    width: 30%;
    border-radius: 2em;
    margin-left: 2%;
    height: 70%;
}

.Hagiasophiaint3{
    width: 30%;
    border-radius: 2em;
    margin-left: 2%;
   height: 18em;
}